<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>树形表格</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="__LAYUI__/layui/css/layui.css">
    <link rel="stylesheet" href="__LAYUI__/style/admin.css">
</head>

<body>
    <div class="layui-fluid">
        <div class="layui-row">
            <div class="layui-card">
                <div class="layui-card-header">
                    <a class="layui-btn" onclick="window.location.href='{:url()}'">刷新</a>
                    <a class="layui-btn" onclick="reload()">reload</a>
                    <a class="layui-btn" onclick="query()">query</a>
                    <a class="layui-btn" onclick="add(null);">新增一行</a>
                    <a class="layui-btn" onclick="openorclose();">隐藏或打开香蕉节点</a>
                    <a class="layui-btn" onclick="getCheckData();">获取选中行数据</a>
                    <a class="layui-btn" onclick="getCheckLength();">获取选中数目</a>
                    <a class="layui-btn" onclick="print();">打印缓存对象</a>
                    <a class="layui-btn" onclick="openAll();">展开或折叠全部</a>
                    <a class="layui-btn" onclick="radioStatus();">获取单选数据</a>
                    <a class="layui-btn" onclick="test();">test</a>
                </div>
                <div class="layui-card-body">
                    <table class="layui-hidden" id="treeTable" lay-filter="treeTable"></table>
                </div>
            </div>
        </div>
    </div>
    <!-- JavaScript -->
    <script src="__LAYUI__/layui/layui.js"></script>
    <script>
    var editObj=null,ptable=null,treeGrid=null,tableId='treeTable',layer=null;
    layui.config({ base: '__LAYUI__/' }); //静态资源所在路径
    layui.extend({ treeGrid: 'modules/treeGrid' }); //定义模块
    layui.use(['jquery', 'layer', 'treeGrid'], function() {

        var $ = layui.jquery;//jquery
        var layer = layui.layer;//弹出层
        var treeGrid = layui.treeGrid;//树形表格

        var ptable=treeGrid.render({
            id:tableId
            ,elem: '#'+tableId
            ,url:'{:url()}'
            ,idField:'id'//必須字段
            ,treeId:'id'//树形id字段名称
            ,treeUpId:'pId'//树形父id字段名称
            ,treeShowName:'name'//以树形式显示的字段
            ,height:'100%'
            ,isFilter:false
            ,iconOpen:true//是否显示图标【默认显示】
            ,isOpenDefault:true//节点默认是展开还是折叠【默认展开】
            ,loading:true
            ,method:'post'
            ,isPage:false
            ,cols: [[
                {type:'numbers'}
                ,{type:'radio'}
                ,{type:'checkbox',sort:true}
                ,{field:'name', width:300, title: '名称',edit:'text',sort:true}
                ,{field:'id',width:100, title: 'id',sort:true}
                ,{field:'pId', title: 'pId',sort:true}
                ,{width:100,title: '操作', align:'center'/*toolbar: '#barDemo'*/
                    ,templet: function(d){
                        var html='';
                        var addBtn='<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="add">添加</a>';
                        var delBtn='<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>';
                        return addBtn+delBtn;
                    }
                }
            ]]
            ,parseData:function (res) {
                //数据加载后回调
                return res;
            }
            ,onClickRow:function (index, o) {
                // 单击
                console.log(index,o,"单击！");
                // msg("单击！,按F12，在控制台查看详细参数！");
            }
            ,onDblClickRow:function (index, o) {
                console.log(index,o,"双击");
                // msg("双击！,按F12，在控制台查看详细参数！");
            }
            ,onRadio:function (obj) {
                //单选事件
                console.log(obj,"单选");
                // msg("单选,按F12，在控制台查看详细参数！");
            }
            ,onCheck:function (obj,checked,isAll) {
                //复选事件
                console.log(obj,checked,isAll,"复选");
                // msg("复选,按F12，在控制台查看详细参数！");
            }
        });

        treeGrid.on('tool('+tableId+')',function (obj) {
            if (obj.event === 'del') {
                //删除行
                del(obj);
            } else if (obj.event==="add") {
                //添加行
                add(obj);
            }
        });

    });

    function del(obj) {
        layer.confirm("你确定删除数据吗？如果存在下级节点则一并删除，此操作不能撤销！", {icon: 3, title:'提示'},
            function(index){
                //确定回调
                obj.del();
                layer.close(index);
            },function (index) {
                //取消回调
                layer.close(index);
            }
        );
    }


    var i=1000000;
    //添加
    function add(pObj) {
        var pdata=pObj?pObj.data:null;
        var param={};
        param.name='水果'+Math.random();
        param.id=++i;
        param.pId=pdata?pdata.id:null;
        treeGrid.addRow(tableId,pdata?pdata[treeGrid.config.indexName]+1:0,param);
    }

    function print() {
        console.log(treeGrid.cache[tableId]);
        msg("对象已打印，按F12，在控制台查看！");
    }

    function msg(msg) {
        var loadIndex=layer.msg(msg, {
            time:3000
            ,offset: 'b'//顶部
            ,shade: 0
        });
    }
    
    function openorclose() {
        var map=treeGrid.getDataMap(tableId);
        var o= map['102'];
        treeGrid.treeNodeOpen(tableId,o,!o[treeGrid.config.cols.isOpen]);
    }


    function openAll() {
        var treedata=treeGrid.getDataTreeList(tableId);
        treeGrid.treeOpenAll(tableId,!treedata[0][treeGrid.config.cols.isOpen]);
    }

    function getCheckData() {
        var checkStatus = treeGrid.checkStatus(tableId)
            ,data = checkStatus.data;
        layer.alert(JSON.stringify(data));
    }
    function radioStatus() {
        var data = treeGrid.radioStatus(tableId)
        layer.alert(JSON.stringify(data));
    }
    function getCheckLength() {
        var checkStatus = treeGrid.checkStatus(tableId)
            ,data = checkStatus.data;
        layer.msg('选中了：'+ data.length + ' 个');
    }

    function reload() {
        treeGrid.reload(tableId,{
            page:{
                curr:1
            }
        });
    }
    function query() {
        treeGrid.query(tableId,{
            where:{
                name:'sdfsdfsdf'
            }
        });
    }
    
    function test() {
        console.log(treeGrid.cache[tableId],treeGrid.getClass(tableId));
        var map=treeGrid.getDataMap(tableId);
        var o= map['102'];
        o.name="更新";
        treeGrid.updateRow(tableId,o);
    }

    </script>
</body>

</html>