# 环境变量示例文件，你可以直接改成.env文件后进行修改
APP_DEBUG = true
APP_TRACE = false

[APP]
DEFAULT_TIMEZONE = Asia/Shanghai

[LANG]
default_lang = zh-cn

[DATABASE]
TYPE = mysql
HOSTNAME = 127.0.0.1
DATABASE = yyladmin
USERNAME = yyladmin
PASSWORD = yyladmin
HOSTPORT = 3306
CHARSET = utf8
PREFIX = yyl_
DEBUG = true

[CACHE]
DRIVER = redis

[REDIS]
HOST = 127.0.0.1
PORT = 6379
PASSWORD = 
PREFIX = yyl:
