*.log
.env
.user.ini
.htaccess
.husky
.history
.DS_Store

/.idea
/.vscode
/.workflow
/.settings
/.buildpath
/.project
/.cursor
/.trae
/404.html
/index.html
/vendor
/runtime
/public/admin
/public/.well-known
/public/storage
/public/.htaccess
/public/nginx.htaccess

Thumbs.db
composer.phar
nginx.htaccess
