*.log

.env
.user.ini
.htaccess
.husky
.history
.DS_Store

/.idea
/.vscode
/.workflow
/.settings
/.buildpath
/.project
/vendor
/runtime
/public/.well-known
/public/storage
/public/.htaccess
/public/nginx.htaccess

Thumbs.db
nginx.htaccess
composer.phar
composer.lock