# https://git-scm.com/book/zh/v2
/.idea
/.vscode
/.workflow
.DS_Store
/public/.well-known
/public/storage
/public/.htaccess
/public/nginx.htaccess
/runtime
/vendor
*.log
.user.ini
.env
.htaccess
nginx.htaccess
composer.lock
.history
