/*
*@Name: layuiUniversalCompany - 通用企业公司网站模板
*@Author: xuzhiwen
*@Copyright:layui.com
*/


/*base*/
.fl{float: left;}
.fr{float: right;}
body{font: 12px/1.5 PingFangSC-Regular,Tahoma,'Microsoft Yahei',sans-serif;}
.padding0{
  padding:0;
}
.pb50{
  padding:0 0  50px 0;
}
.layui-carousel>[carousel-item]>*{
  height: auto;
}
.layui-carousel-ind{
  margin-top: -20px;
  top: auto;
  bottom: 10px;
}
/*header*/
.header_box{height: 80px; line-height: 80px; border-bottom: 1px  solid #e8ebf2;}
.header{max-width: 1200px; margin:0 auto; position: relative; height: 100%;}
.header h1{display: inline-block; padding-left: 35px;}
.header .nav{font-size: 14px; text-align: right; display: inline-block; vertical-align: top; float: right;}
.header .nav a{color: #010101!important; display: inline-block; padding:0 35px;}
.header .nav a.active{color: #ab8e75!important;}
.app-header{display: none;}
.app-header-menuicon{display: block; position: absolute; top: 0; width: 80px; height: 80px; cursor: pointer; text-align: center;}
.app-header-menuicon i{font-size: 30px;}
.header-down-nav{display: none;}
/*end-header*/


/*footer*/
.footer{background: #231f20; text-align: center; padding:65px;}
.footer .line{width: 220px; height: 2px; background: #dedede; margin:0 auto; }
.footer p.copyright{font-size: 14px; color: #dedede; line-height: 24px; padding:70px 0 40px 0;}
.footer .icon_box i{color: #fff; font-size: 26px;}
.footer .icon_box i.weixin-icon{padding-right: 15px;}
.footer .icon_box i.weibo-icon{padding-left: 15px;}
/*footer*/


/*end-base*/


/*index*/
.content .title{text-align: center; color: #333333; padding:50px 0;}
.content .title h5{font-size: 18px; color: #878787;}
.content .title h3{font-size: 48px;}
.content .title h4{font-size: 20px;}
.content .prod-show{padding:100px 0; max-width: 1200px; margin:0 auto;}
.content .prod-show .img-txt h3{line-height: 70px; background: #f9f9f9; font-size: 18px; color: #666666; text-align: center;}
.content .prod-descr{max-width: 1200px; margin:0 auto;}
.content .prod-descr .item{position: relative; padding-bottom: 160px; margin-bottom: 240px;}
.content .prod-descr .item .bot-img-box{position:absolute; right: 0px; bottom: 0px;}
.content .prod-descr .item img{width: 100%;}
.content .prod-descr .item .text{padding:0 70px 0 80px; color: #363636;}
.content .prod-descr .item .text h3{font-size: 40px; padding:20px 0;}
.content .prod-descr .item .text p{font-size: 22px; line-height: 40px; padding-bottom: 20px;}
.content .prod-descr .item .text a{font-size: 18px; color: #ab8e75;}
.content .Partner{height: 680px; background: url(../images/sy_imgbg.jpg) no-repeat center center; background-size:100% 100%;}
.content .Partner .title{color: #000; padding:100px 0;}
.content .Partner .title h3{font-size: 30px;}
.content .Partner .title h4{font-size: 14px;}
.content .Partner .cont-box{max-width: 1200px; margin:0 auto; text-align: center;}
.content .Partner .cont-box h2{color: #989898; font-size:50px; height: 22%; background: #fff;}
/*end-index*/



/*service*/

.service-content .service-big-img{height:400px;background: url('../images/fw_img1.jpg') center center no-repeat; background-size:cover;}
.service-content .service-img-text h3{font-size: 30px; color: #666; text-align:right; padding-top: 180px; padding-right: 25%;}
.service-content .content-introduction{max-width: 1200px; margin:0 auto; padding:50px 0;}
.service-content .content-introduction .layui-fluid{padding: 0 70px;}
.service-content .content-introduction .text h2{font-size: 36px; color: #333333; line-height: 108px;}
.service-content .content-introduction .text .line{height: 2px; width: 220px; background: #ab8e75; margin-bottom: 30px;}
.service-content .content-introduction .text p{line-height: 36px; color: #666666; font-size: 16px;}
.service-content .content-introduction .img-text-box{padding-top: 40px;}
.service-content .content-introduction .img-text-box .item{text-align: center; margin:30px auto;}
.service-content .content-introduction .img-text-box .item h5{font-weight: bold; padding-top: 20px;}
.service-process-box{background: #efefef; padding-bottom: 120px;}
.service-process{max-width: 1200px; margin:0 auto;}
.service-process .title{font-size: 30px; color: #333; text-align: center; padding:60px 0;}
.service-process .process-centent .item{background: #fff; padding:45px 56px; text-align: center;}
.service-process .process-centent .item h4{font-size: 42px; font-weight: bold; width: 70px; margin:0 auto;  padding-bottom: 18px; border-bottom: 2px solid #000;}
.service-process .process-centent .item h5{font-size: 20px; padding:12px 0 26px 0;}
.service-process .process-centent .item p{text-align: left; color: #888888; font-size: 14px; line-height: 26px;}
.service-contact{height: 600px; background: url('../images/fw_img2.jpg') center center no-repeat; background-size:100% 100%; margin-bottom: 150px;}
.service-contact-box{max-width: 1200px; margin:0 auto; padding-top: 114px;}
.service-contact-box .map-img{height: 370px; background: url('../images/fw_img3.jpg') center center no-repeat; background-size:cover;}
.service-contact-box .cantact-info{background: #fff; height: 370px; padding:30px; box-sizing: border-box;}
.service-contact-box .cantact-info h3{font-size: 30px; color: #333; padding-bottom:30px; text-align: center;}
.service-contact-box .cantact-info .item{ line-height: 60px; font-size: 18px;}
.service-contact-box .cantact-info .item i{padding-right: 16px; color: #ab8e75;  font-size: 18px;}
/*end-service*/





/*about*/
.about-content .about-big-img{height: 700px; background: url('../images/gy_banner.jpg') center center no-repeat; background-size:100% 100%; color: #ffffff;}
.about-content .about-big-img .text_box{max-width: 1200px; margin:0 auto;}
.about-content .about-big-img .text{display: inline-block; margin: 230px 500px 0 100px;}
.about-content .about-big-img .text h3{font-size: 36px; padding-bottom: 15px; border-bottom: 2px solid #b3b3b3;}
.about-content .about-big-img .text p{font-size: 16px; padding-top: 40px; line-height: 40px;}
.about-info .img-texts{max-width: 1200px; margin:0 auto; padding: 100px 0;}
.about-info .img-texts .item{padding: 50px 0;}
.about-info .img-texts .item img{ width: 100%;}
.about-info .img-texts .item .text{padding-left: 84px;}
.about-info .img-texts .item .text h5{font-size: 100px; color: #f5f2ef; position: absolute;}
.about-info .img-texts .item .text h4{font-size: 30px; color: #333333; position: relative; z-index: 2; padding: 75px 0  56px 170px;}
.about-info .img-texts .item .text p{line-height: 38px; font-size: 16px; color: #666666;}
.about-info .coreTeam_box{background: #f6f6f9; position: relative;}
.about-info .coreTeam_box .writebg{height: 360px; background: #fff; position: absolute; top: 0px; width: 100%;}
.about-info .coreTeam{max-width: 1200px; margin:0 auto; text-align: center;}
.about-info .coreTeam h3{font-size: 36px; color:#333333; padding:40px 0 24px 0;}
.about-info .coreTeam h4{font-size: 24px; color: #888888; padding-bottom: 80px;}
.about-info .coreTeam .imgTxt h6{font-size: 18px; padding:36px 0 110px 0;}
.about-info .coreTeam .imgTxt img{ width: 100%;}
/*end-about*/





/*details*/
.details-content{max-width: 1200px; margin:0 auto;}
.details-content .title{line-height: 30px; padding:32px 0 40px 30px;}
.details-content .title h3{font-size: 18px; color: #333;}
.details-content .title h4{font-size: 14px; color: #aaa;}
.details-content .img-box{padding-bottom: 100px;}
.details-content .img-box img{margin-bottom: 50px; width: 100%;}
/*end-details*/


/*case*/
.case-content .banner{max-width: 1440px; margin:60px auto 100px auto; position: relative; padding-bottom: 5%;}
.case-content .banner .img-text{width: 54%; position: relative; cursor: pointer;}
.case-content .banner .img-text img{width: 100%;}
.case-content .banner .img-text h3{color: #a1a1a1; font-size: 30px;   display: block; position: absolute; top: 30%; right:20%;}
.case-content .banner .img-text.active{position: absolute; right: 0; bottom: 0;}
.case-content .banner .img-text h3 span{padding-left: 50px; display: inline-block;}
.case-content .imgtext-flow{max-width: 1200px; margin:50px auto; padding-bottom: 20px;}
.case-content .imgtext-flow .item{margin-bottom: 50px; padding:0px 10px;}
.case-content .imgtext-flow .item img{width: 100%;}
.case-content .imgtext-flow .item-text{padding-left: 20px;}
.case-content .imgtext-flow .item h3{font-size: 24px; color: #333; padding: 30px 0 16px 0;}
.case-content .imgtext-flow .item span{font-size: 18px; color: #666;}
.case-content .imgtext-flow .layui-flow-more{position: absolute; bottom: 0px; left:50%; margin-left: -48px;}
/*end-case*/


@media only screen and (max-width: 1024px){
  .case-content .banner{margin:30px auto;}
  .case-content .banner .img-text h3{color: #a1a1a1; font-size: 20px;}
  .content .prod-descr .item{
    position: relative; 
    padding-bottom: 0;
    margin-bottom: 100px;
  }
  .content .prod-descr .item .bot-img-box{
    position:relative; 
    margin-top: 20px;
  }
  .content .prod-descr .item .text{
    padding:0 30px;
  }
  .content .prod-descr .item .text h3{
    font-size: 26px; 
    padding:30px 0;
  }
  .content .prod-descr .item .text p{
    font-size: 22px; 
    line-height: 40px; 
    padding-bottom: 20px;
  }
  .content .prod-descr .item .text a{
    font-size: 18px; 
    color: #ab8e75;
  }
  .about-content .about-big-img .text{
    margin: 200px 50px;
  }
  .about-info .img-texts{
    padding:50px 0;
  }
  .about-content .about-big-img .text p{
    padding-top: 10px;
    font-size: 20px;
    line-height: 40px;
  }
  .about-content .about-big-img .text h3{
    font-size: 24px;
  }
  .about-info .img-texts .item .text h5{
    font-size: 50px;
  }
  .about-info .img-texts .item .text h4{
    font-size: 24px;
    padding:25px 0  30px 80px ;
  }
  .content .title{padding:20px 0;}
  .content .prod-show{padding:50px 0;}
  .content .prod-show .img-txt{margin-bottom: 10px;}
  .content .Partner .title{color: #000; padding:50px 0;}
/*  .content .Partner .title h3{font-size: 16px;}
  .content .Partner .title h4{font-size: 14px;}*/
  .content .Partner .cont-box{max-width: 1200px; margin:0 auto; text-align: center;}
  .content .Partner .cont-box h2{color: #989898; font-size:20px; padding:15px 0; background: #fff;}

}
/*@media only screen and (max-width: 992px){
 
}*/
/*@media only screen and (max-width: 810px){
  

}*/
@media only screen and (max-width: 780px){
  .about-info .img-texts .item .text{
    padding-left: 0;
  }
  .about-info .img-texts .img-center{
    text-align: center;
  }
  .about-info .img-texts .item{
    padding:0 20px;
  }


  .service-contact{
    margin-bottom: 50px;
  }
  .service-contact-box .cantact-info h3{
    padding:20px 0;
  }
  .service-contact-box .cantact-info .item,.service-contact-box .cantact-info .item i{
    font-size: 16px;
  }
  .about-info .coreTeam .imgTxt h6{
    padding:36px 0;
  }
  .details-content .img-box{
    padding-bottom: 50px;
  }
  .footer p.copyright{
    padding:20px 0;
  }

  /**/
  .header .nav{
    display: none;
  }
  .header h1.logo{
    float: right;
    padding:0 35px 0 0;
  }
  .app-header{
    display: block;
  }
  .layui-nav.down-nav{
    position: absolute;
    width: 100%;
    z-index: 2;
    text-align: center;
    top: 80px;
    padding:0;
    display: block;
  }
  .layui-nav.down-nav li{
    height: 60px;
    line-height: 60px;
    display: block;
  }
  .layui-nav.down-nav li a{
    height: 60px;
    line-height: 60px;
    color: #fff;
    font-size: 18px;
  }
  .service-content .content-introduction{
    padding:20px 0;
  }
  .service-content .content-introduction .layui-fluid{
    padding:0 20px;
  }
  .service-process .title{
    padding:30px 0;
  }
  .service-process-box{
    padding-bottom: 30px;
  }
  .service-contact-box .cantact-info .item,.service-contact-box .cantact-info .item i{
    font-size: 16px;
  }

  /**/
  .service-contact-box .cantact-info h3{
    padding:20px 0;
  }
  .service-contact-box .cantact-info .item,.service-contact-box .cantact-info .item i{
    font-size: 16px;
  }
  .service-contact-box .map-img{
    height: 220px;
    margin-bottom: 30px;
  }
  .service-contact-box{
    padding: 40px 0;
  }
  .service-contact-box .cantact-info{
    height: auto;
  }
  .service-contact-box .cantact-info .item{
    line-height: 40px;
  }
  .about-content .about-big-img .text{
    margin: 200px 50px;
  }
  .about-content .about-big-img .text p{
    padding-top: 10px;
    font-size: 18px;
    line-height: 36px;
  }
  .about-content .about-big-img .text h3{
    font-size: 24px;
  }
  .footer .line{
    width: 100%;
  }
}

@media only screen and (max-width: 780px){
  .content .title h5{font-size: 12px; color: #878787;}
  .content .title h3{font-size: 24px;}
  .content .title h4{font-size: 14px;}
  .content .prod-show .img-txt h3{line-height: 40px; background: #f9f9f9; font-size: 14px; color: #666666; text-align: center;}
}
@media only screen and (max-width: 768px){
   .content .Partner .cont-box h2{font-size:14px;}
}
@media only screen and (max-width: 767px){
   .case-content .banner{display: none;}
   .case-content .imgtext-flow .item img{width: 100%; height: auto;}
}

