<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>服务</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <script type="text/javascript" src="__LAYUI__/layui/layui.js"></script>
  <link rel="stylesheet" type="text/css" href="__LAYUI__/layui/css/layui.css">
  <link rel="stylesheet" type="text/css" href="__UNI__/css/main.css">
  <!--加载meta IE兼容文件-->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

</head>
<body>
  
  <!-- header -->
  <div class="header_box">
    <div class="header">  
      <ul class="app-header">
        <li class="app-header-menuicon">
           <i class="layui-icon layui-icon-more-vertical"></i>
        </li>
      </ul>
      <h1 class="logo">
        <a href="#">logo</a>
      </h1>
      <div class="nav"  style="visibility: visible">
        <a href="{:url('universally/index/index')}">首页</a>
        <a href="{:url('universally/index/case')}">案例</a>
        <a href="{:url('universally/index/service')}" class="active">服务</a>
        <a href="{:url('universally/index/about')}">关于</a>
      </div>  
      <ul class="layui-nav header-down-nav">
        <li class="layui-nav-item"><a href="{:url('universally/index/index')}">首页</a></li>
        <li class="layui-nav-item"><a href="{:url('universally/index/case')}">案例</a></li>
        <li class="layui-nav-item"><a href="{:url('universally/index/service')}" class="active">服务</a></li>
        <li class="layui-nav-item"><a href="{:url('universally/index/about')}">关于</a></li>
      </ul>
    </div>
  </div>
  <!-- end-header -->


  <!-- service-content -->
  <div class="service-content">

    <div class="service-big-img">
      <div class="service-img-text">
        <h3>用心服务</h3>
      </div>
    </div>

    <div class="content-introduction">
      <div class="layui-fluid">
        <div class="layui-row">
          <div class="layui-col-xs12 layui-col-sm12 layui-col-md6">
            <div class="text">
              <h2>我们的服务</h2>
              <div class="line"></div>
              <p>拥有双面的不仅是人生，还有 layui。一面极简，一面丰盈。极简是视觉所见的外在，是开发所念的简易。丰盈是倾情雕琢的内在，是信手拈来的承诺。一切本应如此，简而全，双重体验。拥有双面的不仅是人生，还有 layui。一面极简，一面丰盈。极简是视觉所见的外在，是开发所念的简易。丰盈是倾情雕琢的内在，是信手拈来的承诺。一切本应如此，简而全，双重体验。</p>
            </div>
          </div>
          <div class="layui-col-xs12 layui-col-sm12 layui-col-md6">
            <div class="img-text-box layui-clear">
              <div class="layui-row">
                <div class="layui-col-xs6 layui-col-sm3 layui-col-md6">
                  <div class="item">
                    <img src="__UNI__/images/fw_icon1.png" alt="">
                    <h5>食品包装</h5>
                  </div>
                </div>
                <div class="layui-col-xs6 layui-col-sm3 layui-col-md6">
                  <div class="item">
                    <img src="__UNI__/images/fw_icon1.png" alt="">
                    <h5>食品包装</h5>
                  </div>
                </div>
                <div class="layui-col-xs6 layui-col-sm3 layui-col-md6">
                  <div class="item">
                    <img src="__UNI__/images/fw_icon1.png" alt="">
                    <h5>食品包装</h5>
                  </div>
                </div>
                <div class="layui-col-xs6 layui-col-sm3 layui-col-md6">
                  <div class="item">
                    <img src="__UNI__/images/fw_icon1.png" alt="">
                    <h5>食品包装</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>

    <div class="service-process-box">
      <div class="service-process">
        <div class="layui-fluid">    
            <h3 class="title">成品流程</h3>
            <div class="process-centent">
              <div class="layui-row layui-col-space15">
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md3">
                    <div class="item">
                      <h4>01</h4>
                      <h5>需求沟通</h5>
                      <p>和客户沟通需求，更好的了解客户的产品需求，对之后产品成型有更大的帮助。</p>
                    </div>
                </div> 
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md3">
                    <div class="item">
                      <h4>02</h4>
                      <h5>设计打版</h5>
                      <p>和客户沟通需求，更好的了解客户的产品需求，对之后产品成型有更大的帮助。</p>
                    </div>
                </div>
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md3">
                    <div class="item">
                      <h4>03</h4>
                      <h5>成品制作</h5>
                      <p>和客户沟通需求，更好的了解客户的产品需求，对之后产品成型有更大的帮助。</p>
                    </div>
                </div>
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md3">
                    <div class="item">
                      <h4>04</h4>
                      <h5>售后服务</h5>
                      <p>和客户沟通需求，更好的了解客户的产品需求，对之后产品成型有更大的帮助。</p>
                    </div>
                </div>
              </div>
            </div>  
        </div>
      </div>
    </div>

    <div class="service-contact">
      <div class="service-contact-box">
        <div class="layui-fluid">
          <div class="layui-row">
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md7">
              <div class="map-img">
              </div>
            </div>
             <div class="layui-col-xs12 layui-col-sm5  layui-col-md4 fr">
                <div class="cantact-info">
                  <h3>联系我们</h3>
                  <div class="item">
                    <p><i class="layui-icon layui-icon-location"></i>地址:<span>江西南昌瑶湖紫峰大厦</span></p>
                    <p><i class="layui-icon layui-icon-dialogue"></i>电话:<span>400-000-888</span></p>
                    <p><i class="layui-icon layui-icon-layouts"></i>邮箱:<span>888888888@qq.com</span></p>
                  </div>
                </div>
                
            </div >
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- service-content -->


  <!-- footer -->
  <div class="footer">
    <div class="line"></div>
    <p class="copyright">
      @2016  ALL  ADHFGJKSHH<br />
      E-MAIL:66666666@162.com<br />
      TEL:400-888-888
    </p>
    <div class="icon_box">
      <a href="#"><i class="layui-icon layui-icon-login-wechat weixin-icon"></i></a>
      <a href="#"><i class="layui-icon layui-icon-login-weibo weibo-icon"></i></a>
    </div>
  </div>
  <!-- end-footer -->
  <script type="text/javascript">
  layui.use('jquery',function(){
    var $ = layui.$;
    //建造实例
    $('.app-header-menuicon').on('click',function(){
      $('.header-down-nav').toggleClass('down-nav')
    })
  });
  </script>
</body>
</html>