{include file="common/header" /}
            <!-- 内容主体区域 -->
            <div class="padding">
                <span class="layui-breadcrumb">
                    <a href="{:url('admin/index/index')}">首页</a>
                    <a href="">新闻</a>
                </span>
                <hr>
                <div class="layui-bg-gray padding">
                    <div class="layui-row layui-col-space15">
                        <div class="layui-col-md6">
                            <div class="layui-card">
                                <div class="layui-card-header">卡片面板</div>
                                <div class="layui-card-body">
                                    卡片式面板面板通常用于非白色背景色的主体内<br>
                                    从而映衬出边框投影
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md6">
                            <div class="layui-card">
                                <div class="layui-card-header">卡片面板</div>
                                <div class="layui-card-body">
                                    结合 layui 的栅格系统<br>
                                    轻松实现响应式布局
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md12">
                            <div class="layui-card">
                                <div class="layui-card-header">标题</div>
                                <div class="layui-card-body">
                                    内容
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-form">
                    <table class="layui-table">
                        <colgroup>
                            <col width="150">
                            <col width="150">
                            <col width="200">
                            <col>
                        </colgroup>
                        <thead>
                            <tr>
                                <th>人物</th>
                                <th>民族</th>
                                <th>出场时间</th>
                                <th>格言</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>贤心</td>
                                <td>汉族</td>
                                <td>1989-10-14</td>
                                <td>人生似修行</td>
                            </tr>
                            <tr>
                                <td>张爱玲</td>
                                <td>汉族</td>
                                <td>1920-09-30</td>
                                <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…</td>
                            </tr>
                            <tr>
                                <td>Helen Keller</td>
                                <td>拉丁美裔</td>
                                <td>1880-06-27</td>
                                <td> Life is either a daring adventure or nothing.</td>
                            </tr>
                            <tr>
                                <td>岳飞</td>
                                <td>汉族</td>
                                <td>1103-北宋崇宁二年</td>
                                <td>教科书再滥改，也抹不去“民族英雄”的事实</td>
                            </tr>
                            <tr>
                                <td>孟子</td>
                                <td>华夏族（汉族）</td>
                                <td>公元前-372年</td>
                                <td>猿强，则国强。国强，则猿更强！ </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <blockquote class="layui-elem-quote layui-quote-nm">
                    猿强，则国强。国强，则猿更强！ 
                    <br>——孟子（好囖。。其实这特喵的是我说的）
                </blockquote>
            </div>
{include file="common/footer" /}
</body>

</html>