<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>图片上传</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="__LAYUI__/layui/css/layui.css">
    <link rel="stylesheet" href="__LAYUI__/style/admin.css">
    <link rel="stylesheet" href="__CSS__/yylcss.css">
</head>

<body>
    <div class="layui-fluid yyl-bg-white">
        <div class="layui-row">
            <div class="layui-col-md12">
                <form class="layui-form" action="" method="post">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">图片</label>
                            <div class="layui-input-inline">
                                <div class="layui-upload">
                                    <button id="upload-btn" type="button" class="layui-btn">上传图片</button>
                                </div>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <div class="layui-upload-list">
                                    <button id="upload-dele" type="button" class="layui-btn layui-btn-primary layui-btn-sm layui-hide" style="position: absolute;top: 10px;opacity: 0.7">删除</button>
                                    <img id="upload-img" class="layui-upload-img" height="120" src="" alt="">
                                    <p id="upload-text"></p>
                                    <input id="upload-ipt" type="hidden" name="image" value="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="submit-btn">提交</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="layui-col-md12">
                <form class="layui-form" action="" method="post">
                    <div class="layui-form-item">
                        <label class="layui-form-label"></label>
                        <div class="layui-input-block">
                            <div class="layui-row">
                                {foreach $imageList as $key=>$vo}
                                <div class="layui-col-xs3 layui-col-sm3 layui-col-md3 layui-col-lg3">
                                    <img src="{$vo.src}" alt="" height="120" alt="{$vo.name}" title="{$vo.name}" style="margin-bottom: 10px">
                                </div>
                                {/foreach}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="__LAYUI__/layui/layui.js"></script>
    <script>
    layui.use(['form', 'layer', 'upload'], function() {

        var $ = layui.$; //jquery
        var form = layui.form; //表单
        var layer = layui.layer; //弹出层
        var upload = layui.upload; //上传文件

        //图片上传
        var uploadInst = upload.render({
            elem: '#upload-btn', //上传容器选择器
            url: '{:url("admin/upload/upload")}', //服务端上传接口
            accept: 'images', //允许上传的文件类型：images（图片）、file（所有文件）、video（视频）、audio（音频）
            size: 0, //设置文件最大可允许上传的大小，单位 KB。不支持ie8/9，0不限制
            before: function(obj) {
                //预读本地文件，不支持ie8
                obj.preview(function(index, file, result) {
                    $('#upload-img').attr('src', result); //图片链接（base64）
                });
            },
            done: function(res) {
                //上传成功
                if (res.code == 0) {
                    $('#upload-dele').removeClass('layui-hide');
                    $('#upload-text').addClass('layui-hide'); //隐藏重试
                    $('#upload-img').attr('src', res.src); //图片链接
                    $('#upload-img').attr('title', res.name); //图片名称
                    $('#upload-ipt').val(res.src); //图片链接
                } else {
                    layer.msg('上传失败');
                }
            },
            error: function() {
                //失败状态，实现重传
                var upload_text = $('#upload-text');
                upload_text.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs upload-reload">重试</a>');
                upload_text.find('.upload-reload').on('click', function() {
                    uploadInst.upload();
                });
            }
        });
        // 图片删除
        $('#upload-dele').click(function() {
            var url = $('#upload-img').attr('src');
            imgDele(url);
        })

        function imgDele(url = '') {
            if (url) {
                $.ajax({
                    url: '{:url("admin/upload/delete")}',
                    data: 'url=' + url,
                    success: function(res) {
                        if (res.code == 0) {
                            $('#upload-img').attr('src', '');
                            $('#upload-dele').addClass('layui-hide');
                        };
                        layer.msg(res.msg);
                    },
                    error: function() {

                        layer.msg('网络错误！');
                    }
                })
            }
        }

    });
    </script>
</body>

</html>