@font-face {
  font-family: "iconfont"; /* Project id 2612313 */
  src: url('iconfont.woff2?t=1625043390252') format('woff2'),
       url('iconfont.woff?t=1625043390252') format('woff'),
       url('iconfont.ttf?t=1625043390252') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-md:before {
  content: "\e6f0";
}

