
        </div>
        <!-- 底部固定区域 -->
        <div class="layui-footer">
            © {:config('app.app_name')} - {:config('app.app_version')}
        </div>
    </div>
    <script src="__JS__jquery.min.js"></script>
    <script src="__LAYUI__layui.js"></script>
    <script>
    layui.use(['element','layer'], function() {
        var element = layui.element;
        var layer = layui.layer;
        // exit system
        $('.loginout').click(function(){
            layer.confirm('您确定要退出系统吗？', {icon: 3, title:'提示'}, 
                function(){
                    layer.msg('正在退出...', {icon: 16,shade: 0.1});
                    setTimeout(function(){
                        location.href = "{:url('admin/login/loginout')}";
                    }, 1000);
                },
                function(){
                    
                }
            );
        })
    });
    </script>