<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{:config('app.app_name')}_login</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="__LAYUI__/layui/css/layui.css">
    <link rel="stylesheet" href="__CSS__/mystyle.css">
</head>

<body>
    <div class="layui-container">
        <div class="layui-row padding-vertical">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 layui-clear padding-vertical text-center">
                <image class="padding-vertical" src="__IMG__/logo.png"></image>
                <p class="padding-vertical">{:config('app.app_name')}</p>
            </div>
        </div>
        <div class="layui-row padding-vertical">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md4 layui-col-md-offset4">
                <form class="layui-form text-center">
                    <div class="layui-form-item">
                        <input type="text" name="username" lay-verify="required" placeholder="请输入账号" class="layui-input" maxlength="30">
                    </div>
                    <div class="layui-form-item">
                        <input type="password" name="password" lay-verify="required" placeholder="请输入密码" class="layui-input" maxlength="30">
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-row">
                            <div class="layui-col-xs7">
                                <input type="text" name="verify" lay-verify="required" placeholder="请输入验证码" class="layui-input" maxlength="4">
                            </div>
                            <div class="layui-col-xs5">
                                <div class="padding-left-sm">
                                    <img class="login-verify" src="{:captcha_src()}" onclick="this.src='{:captcha_src()}'" alt="验证码" title="点击刷新">
            					</div>
                            </div>
                        </div>
                    </div>
                    <input class="device" type="hidden" name="device" value="0">
                    <div class="layui-form-item">
                        <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="login">登录</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="__LAYUI__/layui/layui.js"></script>
    <script>
    layui.use(['form','layer'], function() {
        var $ = layui.$;
        var form = layui.form;
        var layer = layui.layer;
        var device = JSON.stringify(layui.device());
        $('.device').val(device);
        form.on('submit(login)', function(data){
            var load = layer.load();
            var data = data.field;
            $.ajax({
                data:data,
                type:"POST",
                url:"{:url('admin/login/login')}",
                success:function(res){
                    layer.close(load);
                    if (res.rescode == 1) {
                        layer.msg(res.message);
                        layer.msg('正在跳转...', {icon: 16,shade: 0.1});
                        setTimeout(function(){
                            location.href = res.indexurl;
                        }, 1000);
                    } else {
                        layer.msg(res.message);
                    }
                    return false;
                },
                error:function(){
                    layer.close(load);
                    layer.msg('登录失败！');
                    return false;
                }
            });
            return false;
        });
    });
    </script>
</body>

</html>