<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{:config('app.app_name')}_登录</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="__LAYUI__/layui/css/layui.css">
</head>

<body>
    <div class="layui-container">
        <div class="layui-row " style="margin: 2rem 0">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 layui-clear" style="text-align: center;margin: 2rem 0">
                <image class="" style="margin: 2rem 0" src="__IMG__/logo.png"></image>
                <h2>{:config('app.app_name')}</h2>
            </div>
        </div>
        <div class="layui-row " style="margin: 2rem 0">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md4 layui-col-md-offset4">
                <form class="layui-form yyl-text-center">
                    <div class="layui-form-item">
                        <input type="text" name="username" lay-verify="required" placeholder="请输入账号" class="layui-input" maxlength="30">
                    </div>
                    <div class="layui-form-item">
                        <input type="password" name="password" lay-verify="required" placeholder="请输入密码" class="layui-input" maxlength="30">
                    </div>
                    {if $is_verify}
                    <div class="layui-form-item">
                        <div class="layui-row">
                            <div class="layui-col-xs7">
                                <input type="text" name="verify" lay-verify="required" placeholder="请输入验证码" class="layui-input" maxlength="4">
                            </div>
                            <div class="layui-col-xs5">
                                <div class="padding-left-sm">
                                    <img class="login-verify" src="{:captcha_src()}" height="50" alt="验证码" title="点击刷新">
                                </div>
                            </div>
                        </div>
                    </div>
                    {/if}
                    <input class="device" type="hidden" name="device" value="0">
                    <div class="layui-form-item">
                        <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="login">登录</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="__LAYUI__/layui/layui.js"></script>
    <script>
    layui.use(['form','layer'], function() {
        var $ = layui.$;
        var form = layui.form;
        var layer = layui.layer;
        
        var device = JSON.stringify(layui.device());
        $('.device').val(device);

        // verify
        $('.login-verify').click(function(){
            var id = Math.floor(Math.random()*100);
            var src = '{:captcha_src()}' + '?vid=' + id;
            $(this).attr('src', src);
        })
        function verify(){
            $('.login-verify').trigger('click');
        }

        // login
        form.on('submit(login)', function(data){
            var load = layer.load();
            var data = data.field;
            $.ajax({
                data:data,
                type:"POST",
                url:"{:url('check')}",
                success:function(res){
                    layer.close(load);
                    if (res.code == 0) {
                        layer.msg(res.msg);
                        layer.msg('正在跳转...', {icon: 16,shade: 0.1});
                        setTimeout(function(){
                            location.href = res.url;
                        }, 1000);
                    } else {
                        verify();
                        layer.msg(res.msg);
                    }
                    return false;
                },
                error:function(){
                    layer.close(load);
                    layer.msg('登录失败！');
                    return false;
                }
            });
            return false;
        });

    });
    </script>
</body>

</html>